.App {
  text-align: center;
}

.table{
	padding-left: 10px;
	/*padding-right: 700px;*/
	width: 50%;
	
}

.table2{
	/*padding-left: 600px;*/
	padding-right: 10px;
}

.placeholder{
	font-size: 10px;
}

.btn-primary{
	background-color: black;
}

.column1{
	float: right;
	width: 35%;
}